{
  "presets": ["@babel/preset-env"],
  "plugins": [
    [
      "module-resolver", {
        "root": ["./src"],
        "alias": {
          "lib": "./src/lib",
          "scripts": "./src/scripts"
        }
      }
    ]
  ],
  "ignore": [
    "./secret.json"
  ]
}
